<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusicBean"
          class="ru.rinat.spring1.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getInstance">
    </bean>

    <bean id="rockMusicBean"
          class="ru.rinat.spring1.RockMusic">
    </bean>

    <bean id="jazzMusicBean"
          class="ru.rinat.spring1.JazzMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.rinat.spring1.MusicPlayer"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          scope="prototype">
        <!--          scope="singleton">-->
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="jazzMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
        <!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
        <!--       xmlns:context="http://www.springframework.org/schema/context"-->
        <!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--    http://www.springframework.org/schema/beans/spring-beans.xsd-->
        <!--    http://www.springframework.org/schema/context-->
        <!--    http://www.springframework.org/schema/context/spring-context.xsd">-->

        <!--<context:annotation-config/>-->
        <!--<context:component-scan base-package="com.baeldung.applicationcontext"/>-->

        <!--</beans>-->